<!DOCTYPE html>
<html>
<head>
    <title>插入了一个user</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= `${user.firstName} ${user.lastName} ${user.age}` %></h1>
<p>Welcome to </p>
</body>
</html>
