<!DOCTYPE html>
<html>
<head>
    <title>枚举users</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>
    <% for (let i = 0; i < users.length; i++) { %>
        <span><%= users[i].firstName %></span> <span><%= users[i].lastName %></span>
        <span><%= users[i].age %></span>
        <span>-------------------</span>
    <% } %>
</h1>
</body>
</html>
